[submodule "socket.io-client-cpp"]
	path = src/engine/external/socket.io-client-cpp
	url = https://github.com/socketio/socket.io-client-cpp.git
[submodule "ddnet-libs"]
	path = ddnet-libs
	url = https://github.com/ddnet/ddnet-libs
