[submodule "ddnet-libs"]
	path = ddnet-libs
	url = https://github.com/ddnet/ddnet-libs
	shallow = true
[submodule "scripts/ddnet-insta-cli"]
	path = scripts/ddnet-insta-cli
	url = https://github.com/ddnet-insta/cli.git
