name: ddnet-insta
on:
  push:
    branches-ignore:
      - gh-readonly-queue/**
  pull_request:
  merge_group:

jobs:
  check-docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    # - name: Check doc gen
    #   run: |
    #     ./scripts/gendocs_instagib.sh --dry-run

    - name: Check sql columns
      run: |
        ./scripts/insta_check_sql_columns.sh

